.odd-number {
    background-color: rgb(235, 149, 149);
    font-family: Verdana, "DejaaVu Sans" sans-serif;
}
#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
} 
.three {
    font-size: 24px;
}
#four {
    background-color: rgb(128, 241, 128);
    font-size: 24px;
    font-weight: bold;
}